@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg_div{
    width: 200px;
    height: 200px;
    background-color: red;
    opacity: .5;
}

.bg_div2{
    background-color:rgba(255, 165, 0, .6);
    width: 200px;
    height: 200px;

}
.bg_img{
    background-image: url('bg-img.jpg');
    padding: 50px;
    /* width: 500px; */
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
p{
    background-image: url('bg-img.jpg');
    /* width: 300px;
    height: 300px; */
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.border{
    border-width: 10px;
    border-left: solid;
    border-color: red;
    border-radius: 5px;
    width: 500px;
    height: auto;
}

.color h1{
    color: white;
    background-color: orange;
}

.text h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px blue;
}

.pera{
    /* line-height: 30px; */
    font-size: 18px;
    line-height: 36px;
}

.font{
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
}

.one{
    color: white;
    background-color: red;
    margin-left: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.two{
    color: white;
    background-color: orange;
    padding: 20px 10px;
}
.three{
    color: white;
    background-color: tomato;
    text-align: center;
    padding: 20px;
}
.div1{
    background-color: skyblue;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 200px;

    border-style: solid;
    border-width: 5px ;
    border-color: goldenrod;
}
.div2{
    background-color: goldenrod;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    line-height: 200px;
    text-align: center;
}

.btn{
    background-color: red;
    color: white;
    /* text-align: center; */
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    border-radius: 7px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
   
}

.flag{
    width: 300px;
    height: 150px;
    background-color: green;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    margin: auto;
}

.flag_inner{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.flag:hover{
    background-color: greenyellow;
    cursor: pointer;
    transition: .5s;
}

.flag_inner:hover{
    background-color: rgb(5, 231, 99);
    transition: .5s;
}
.selectDiv1{
    background-color: orange;
    padding: 20px;
    border-radius: 80px;
    text-align: center;
}

.selectDiv1 h1{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.selectDiv2{
    background-color: greenyellow;
    padding: 20px;
    margin-top: 30px;
}

.selectDiv1:hover{
    background-color: yellow;
    transition: .5s;
    cursor: pointer;
}
.selectDiv2 div{
    color: brown;
    font-size: 30px;
}

.selectDiv2 span{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    display: inline-block;
}
ul.header_menu{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.header_menu li{
    list-style-type: none;
}
.header_menu li a{
     text-decoration: none;
    font-size: 30px;
    color: blue;
}

/* ul.footer_menu{
   
} */

ul.footer_menu li{
    list-style-type: none;
    margin-top: 10px;
}
/* ul.footer_menu li:first-child a{
    color: black;
}
ul.footer_menu li:last-child a{
    color: brown;
} */

.footer_menu li:nth-child(even){
   background-color: skyblue;
}

.footer_menu li:nth-child(odd){
    background-color:orange;
}
.footer_menu li:nth-child(5){
    font-size: 50px;
}
ul.footer_menu li a{
    text-decoration: none;
    font-size: 20px;
}

.hover_div {
    width: 297px;
    height: 170px;
    border: 1px solid red;
    margin: 50px auto;
    /* padding: 5px; */
    position: relative;
    border-radius: 7px;
    text-align: center;
}
.hover_div img{
    max-width: 100%;
}
.hover_inner{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 0;
   height: 0;
    background-color: rgb(255,0,0, 0.6);
    visibility: hidden;
    transition: .5s;
    opacity: 0;
}
.hover_inner h1{
    margin-top: 60px;
    text-align: center;
}
.hover_div:hover .hover_inner{
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    border-radius: 7px;
}
